[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen
	branch = master
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
	branch = master
